<div class="row">
  <div class="col-xs-12">
    <h1>{{title}}</h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <label>Nombre: <input type="text" name="" value="" [(ngModel)]="recipe.name"></label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label>Descripcion: <input type="text" name="" value="" [(ngModel)]="recipe.description"></label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <label>Imagen: <input type="text" name="" value="" [(ngModel)]="recipe.imagePath"></label>
  </div>
</div>
<div class="row">
	<label >Ingredientes: </label>
  <div class="col-xs-12">
    <label>Nombre: <input type="text" name="" value="" [(ngModel)]="name"></label>
    <label>Cantidad: <input type="number" name="" value="" [(ngModel)]="amount"></label>
     <button (click)="addIngredient()">Agregar</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients; let i = index ">
        {{ ingredient.name }} - {{ ingredient.amount }} <button (click)="removeIngredient(i)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>

<div class="col-xs-12">
	<button (click)="save()">Guardar</button>
</div>